
.inputs{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 9;
}

.items{
	padding:20px;
}

#initial_values{
 text-align: right;
}

#r_values{
 text-align: right;
}	

